<div class="container" style="text-align: center;">
    <h1>AMIGO INVISIBLE</h1>
    <form [formGroup]="formGroup" (ngSubmit)="selectFriend()">
        <div formArrayName="amigos" *ngFor="let amigo of amigos.controls; let i = index;">
            <div [formGroupName]="i" style="display: flex;justify-content: center;">
                <label for="">Nombre:&nbsp;</label>
                <input type="text" formControlName="nombre">
                <label for="">Email:&nbsp;</label>
                <input type="email" formControlName="email">
                <div *ngIf="condicionParticipante" style="display: flex;">
                    <label for="">Condiciones:&nbsp;</label>
                    <div *ngFor="let amigoExcluido of formGroup.value.amigos;">
                        <input type="checkbox" (change)="fieldsChange(amigo.nombre, amigoExcluido.nombre, $event)" style="padding-right: 1rem;">{{amigoExcluido.nombre}} {{formGroup.get(i)}}
                    </div>
                </div>
                <input *ngIf="mostrarBoton" type="button" value="Añadir Condiciones" (click)="addConditions()">
                <input *ngIf="!mostrarBoton" type="button" value="Guardar Condiciones" (click)="saveConditions()" style="margin-left: 1rem;">
                <input type="button" value="Borrar Amigo" (click)="borrarAmigo(i)">
            </div>
        </div>    
        <input type="button" value="Agregar Amigo" (click)="agregarAmigo()">
        <div>
            <input type="submit" value="Sorteo">
        </div>
    </form>

    <div *ngIf="sorteo" style="text-align: center;">
        <h4>Resultado Final</h4>
        <div *ngFor="let emparejamiento of emparejamientos">
            <p>{{emparejamiento.amigo1.nombre}} regala a {{emparejamiento.amigo2.nombre}}</p>
        </div>
    </div>

</div>